.proyectBlock {
    display: flex;
    margin: 0px 0px 34px 0px;
    width: 90%;
}

.title {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}


.proyectBlock:hover {
        color: #707070;
    }
