
.TextBlock{
    clear: left; margin:0;
    /*height: 100vh;*/
    background-color: black;
    color: white;
    border-color:rgb(124, 122, 122) ;
    border-width: 2px;
    field-sizing: content;
    min-width: 200px;
    min-height: 100px;

}
.NameBlock{
    clear: left; margin:0;
    border-color:rgb(124, 122, 122) ;
    border-width: 2px;

}

.Check {
    
    display: inline-flex;
    justify-content: center;
    align-items:center;
    
  }
