
.TextBlock{
    clear: left; margin:0;
    /*height: 100vh;*/
    background-color: black;
    color: white;
    border-color:rgb(124, 122, 122) ;
    border-width: 2px;
    field-sizing: content;

}
.NameBlock{
    clear: left; margin:0;
    border-color:rgb(124, 122, 122) ;
    border-width: 2px;

}

